/****************************\
******* Main CSS *************
\****************************/


/*********************
    Sommaire

-1 Typographie body
-2 Header
-3 Photo
-4 Parcours
-5 Language
-6 Project
-7 Footer

**********************/

/****************************
******  Typographie *********
*****************************/

@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

body {
  background-color: grey;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

/************************
******  Header *********
************************/

.headerAndroid {

}
.HeaderImagePresent{
  height: 200px
}

/************************
******  Photo *********
************************/



/************************
****** Parcours *********
************************/


/************************
******  Language *********
************************/


/************************
******  Project *********
************************/


/*************************
******* FOOTER ***********
*************************/

.footer{
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: 1905px contain;
}
