/****************************\
******* Main CSS *************
\****************************/
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

body {
  background-color: grey;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

/************************
******  Header *********
************************/

.headerAndroid {

}


/*************************
******* FOOTER ***********
*************************/

.footer{
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: 1905px contain;
}
